<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Collection</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/">Home</a>
        <a href="">Add Car</a>
      </nav>
      <main>
        {{{yield}}}
      </main>
    </div>
  </body>
</html>
